Change Logs
------------------------------------------------------------------------------------------------------
_________________________
New Feature
--------------------------
1. Lesson Planner Module
2. Auto Update Manager Module
3. Push Notification Module



__________________________________________
Improved – for general improvements
--------------------------------------------
1. Preferences Module
2. Academics Module



___________________________________________
Maintenance – for tidying code
---------------------------------------------
No change


___________________________________________________
Changed – for changes in existing functionality
-----------------------------------------------------
No change


___________________________________________________
Deprecated – for soon-to-be removed features
-----------------------------------------------------
No deprecated module


___________________________________
Removed – for removed features
------------------------------------
No module is removed


___________________________________
Fixed – for any bug fixes
------------------------------------
some minor gridView bugs are fixed


_____________________________________
Security – in case of vulnerabilities
---------------------------------------
some security issues are fixed


