Change Logs
------------------------------------------------------------------------------------------------------
_________________________
New Feature
--------------------------


__________________________________________
Improved – for general improvements
--------------------------------------------




___________________________________________
Maintenance – for tidying code
---------------------------------------------


___________________________________________________
Changed – for changes in existing functionality
-----------------------------------------------------


___________________________________________________
Deprecated – for soon-to-be removed features
-----------------------------------------------------


___________________________________
Removed – for removed features
------------------------------------
No module is removed


___________________________________
Fixed – for any bug fixes
------------------------------------
some minor gridView bugs are fixed


_____________________________________
Security – in case of vulnerabilities
---------------------------------------
some security issues are fixed


